/****************************************************
* Global Tags
****************************************************/
* { @include box-sizing(border-box); }

body {
	background-color: $body-background-colour;
	background-position: top center;
	background-repeat: no-repeat;
}

::selection {
	background-color: rgba(0,0,0,0.3);
	color: #FFF;
}

/****************************************************
* Layout
****************************************************/
#site {
	width: 100%;

	&.narrow {
		max-width: $site-width + $gutter*2;
		margin: 0 auto;
		@include box-shadow(0 1px 3px rgba(0,0,0,0.5));
	}
}


/****************************************************
* Global Classes
****************************************************/
.left { float: left; }
.right { float: right; }
.textleft	{ text-align: left; }
.textright	{ text-align: right; }
.textcenter	{ text-align: center; }

.hidden {
	display: none;
	visibility: hidden;
}

.unstyled {
	list-style: none;
	padding: 0;
}


/****************************************************
* Links
****************************************************/
ul.links,
ol.links {
	font-size: 0.857em;

	li {
		list-style:none;
		margin-bottom: 10px;
		background: $list-links-li-background-colour;
		@include border-radius(3px);
		padding: 7px 10px;
		line-height: 1.2em;
	}
}


/****************************************************
* Tables
****************************************************/
table {
	width: 100%;

	td,
	th {
		border: $border solid #f2f2f2;
		padding: 3px;
		text-align: left;
	}
}


/****************************************************
* Definition Lists
****************************************************/
dl {
	@include clearfix;

	dd {
		margin: 0 0 $margin/2 $margin;
	}

	&.tabular {

		dt {
			float: left;
			font-weight: 600;
			clear: left;
			width: 30%;
			text-align: right;
			margin: 0 0 10px 0;
			color: $heading-text-colour;

			small {
				color: darken(#F5DBDA,40%);
				background-color: #F5DBDA;
				@include border-radius(3px);
				padding: 2px 5px;
				margin-right: 3px
			}
		}

		dd {
			float: left;
			width: 70%;
			padding-left: 15px;
			margin: 0 0 10px 0;

			*:last-child { margin-bottom: 0 }
		}
	}
}


/****************************************************
* Horizontal Rules
****************************************************/
hr,
.hr {
	height: 0;
	background: none;
	border-top: $border solid $hr-line-colour;
	margin: $gutter 0;

	@include min-screen-width(tablet-portrait) {
		margin: $margin*2 0;
	}
}


/****************************************************
* Lead
****************************************************/
.lead {
	font-size: 160%;
	line-height: $site-line-height;
}


/****************************************************
* Bands
****************************************************/
.band {
	@include clearfix;
	clear: both;
	background: {
		position: top center;
		repeat: no-repeat;
	}

	&.padded {
		padding-top: $gutter;
		padding-bottom: $gutter - $margin;

		&.thin {
			padding-top: $gutter;
			padding-bottom: $gutter;
		}
	}

	> .inner {
		width: 100%;
		max-width: $site-width + $gutter*2;
		margin: 0 auto;
		padding-left: $margin;
		padding-right: $margin;
	}

	@include min-screen-width(tablet-portrait) {
		&.padded {
			padding-top: $gutter*1.5;
			padding-bottom: $gutter*1.5 - $margin;
		}

		> .inner {
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
}

#content {
	.band {
		&:nth-child(odd) {
			background-color: #FFF;
		}

		&:nth-child(even) {
			background-color: #F2f2f2;
		}
	}
}


/****************************************************
* Buttons
****************************************************/
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	@include box-shadow(inset 0 -1px 1px rgba(0,0,0,0.3));
	@include background-image(none);
	@include border-radius(3px);
	@include text-shadow(none);
	@include transition(all 0.2s);
	background-color: $button-default-background-colour;
	border: none;
	color: $button-default-text-colour !important;
	font-size: $site-text-size;
	line-height: 20px;
	padding: 8px 15px;
	text-align: center;

	&:hover {
		@include box-shadow(inset 0 -1px 1px rgba(0,0,0,0.3));
		@include background-image(none);
		background-color: darken($button-default-background-colour, 5%);
	}

	&:active {
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,0.3));
		@include background-image(none);
		background-color: darken($button-default-background-colour, 5%);
	}

	&.xsmall {
		font-size: 11px;
		padding: 4px 11px;
	}

	&.small {
		font-size: 13px;
		padding: 6px 13px;
	}

	&.large {
		font-size: 15px;
		padding: 10px 19px;
	}

	&.square {
		@include icon_style(36px);
		padding: 0;
	}
}


/****************************************************
* Notices
****************************************************/
.notice {
	@include border-radius(3px);
	margin-bottom: $margin;
	background: $notice-default-background-colour;
	color: $notice-default-text-colour;
	padding: 15px;

	strong {
		color: inherit;
	}

	p {
		margin-bottom: 0;
	}

	&.error	{
		background: $notice-error-background-colour;
		color: $notice-error-text-colour;
	}

	&.success {
		background: $notice-success-background-colour;
		color: $notice-success-text-colour;
	}

	&.warning	{
		background: $notice-warning-background-colour;
		color: $notice-warning-text-colour;
	}
}


/****************************************************
* Tabs
****************************************************/
.tab-group {
	margin-bottom: $gutter;

	.tabs {
		position: relative;
		z-index: 20;

		ul {
			list-style: none;
			padding: 0;

			li {
				@include transition(all 0.15s);
				@include opacity(0.5);
				float:left;
				margin-right: 1px;
				background: $tabs-background-colour;
				
				a {
					display: block;
					font-size: 11px;
					line-height: 1em;
					padding: 15px;
				}

				&.ui-tabs-active {
					@include opacity(1);
				}

				&:hover {
					@include opacity(1);
				}
			}
		}
	}

	.panels {
		position: relative;
		z-index: 10;
		clear: both;
		padding: $margin;
		background: $tabs-background-colour;

		.panel {
			display: none;
			&.active {
				display: block;
			}
		}

		*:last-child { margin-bottom: 0; };
	}
}


/****************************************************
* Icon List
****************************************************/
ul.iconlist {
	text-indent: 0;
	position: relative;
	list-style: none;
	li {
		
		i {
			position: absolute;
			display: inline;
			line-height: 1.539em;
			width: 25px;
			left: 0;
		}
	}
}


/****************************************************
* Social Icons
****************************************************/
.social-icon {
	@include icon_style(50px);

	&:hover {
		color: #FFF;
	}

	&.twitter:hover			{ background-color: #00aced !important; }
	&.facebook:hover		{ background-color: #3664A2 !important; }
	&.pinterest:hover		{ background-color: #cb2027 !important; }
	&.linkedin:hover		{ background-color: #007bb6 !important; }
	&.dribbble:hover		{ background-color: #ea4c89 !important; }
	&.flickr:hover			{ background-color: #ff0084 !important; }
	&.lastfm:hover			{ background-color: #D51007 !important; }
	&.vimeo:hover			{ background-color: #44bbff !important; }
	&.tumblr:hover			{ background-color: #2c4762 !important; }
	&.rss:hover				{ background-color: #FB9E3A !important; }
	&.deviantart:hover		{ background-color: #B3C432 !important; }
	&.wordpress:hover		{ background-color: #21759b !important; }
	&.soundcloud:hover		{ background-color: #ff6600 !important; }
	&.behance:hover			{ background-color: #1769FF !important; }
	&.instagram:hover		{ background-color: #3f729b !important; }
	&.google-plus:hover		{ background-color: #dd4b39 !important; }
	&.github:hover			{ background-color: #444444 !important; }
	&.forrst:hover			{ background-color: #4fb64b !important; }
}